@using ProjectManagementWebApp.Models;
@model UserInfo
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="~/Content/login-page-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>

    <div class="login">
        <h1>Login</h1>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form" }))
        {
            <p class="field">
              
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                <i class="fa fa-user"></i>
            </p>
            <p class="field">
               
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                <i class="fa fa-lock"></i>
            </p>
            <p class="submit">
                <input type="submit" name="Submit" value="Login">
            </p>
        }
        @if (ViewBag.Message != null)
        {
            <p style="color: red; text-align: center">@ViewBag.Message</p>
        }       
    </div> 
</body>
</html>
